.order_detail_address_bar {
    display: flex;
    flex-direction: row;
    font-size: .8em;
    color: #888;
    padding: 32px;
    align-items: center;
    background-color: white;
}

.order_detail_address_detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 16px;
    flex: 1;
}

.order_detail_address_name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.order_detail_card {
    margin-top: 16px;
}
