.price-label {
    margin-left: 48px;
    color: red;
}

.clear-button {
    margin: 16px;
}

.image {
    width: 100%;
}

.bottom-button-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}
