.icon_button_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    color: #888;
}

.icon_button_icon {
    font-size: 1.6em;
}

.icon_button_text {
    font-size: .8em;
    margin-top: 16px;
}
