.list_item_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px;
    align-items: center;
    border-bottom: 1px solid #888;
    background-color: #fff;
}
