.order_card_product {
    display: flex;
    flex-direction: row;
    background-color: #F8F8F8;
    padding: 32px;
}

.order_card_side_info {
    font-size: .8em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFF;
    padding: 16px;
}

.order_card_hightlight {
    color: red;
}

.order_card_product_thumbnail {
    width: 120px;
    height: 120px;
    background-color: white;
    border: 1px solid #DDD;
}

.order_card_bottom_border {
    border-bottom: 1px solid #DDD;
}

.order_card_pay_price {
    display: flex;
    justify-content: flex-end;
    background-color: white;
    padding: 16px;
}

.order_card_product_detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: .8em;
    padding-left: 32px;
}
