page {
    height: 100%;
    background-color: #EEE;
}

.page_container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.page_bottom_bar {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: white;
}

.page_content {
    display: flex;
    flex: 1;
    overflow-y: auto;
    flex-direction: column;
}

.page_button {
    margin: 16px;
}
